a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
html, body{
    width: 100%;
    margin: 0px auto;
}
#container{
    min-width: 1263px;
    width: 100%;
    padding: 5px auto;
}
header{
    width: 100%;
    max-width: 1537px;
    min-width: 1263px;
    margin: 0 auto;
}
#logotype{
    width: 12%;
    margin: 15px;
    padding: 15px;
    border: none;
}
header ul{
    width: 925px;
    margin: 25px 0px 25px 25px;
    float: right;
}
header ul li{
    text-transform: uppercase;
    margin: 10px 15px;
    font-size: 18px;
    float: left;
}
section{
    background-origin: border-box;
    background-size: 40%;
    min-width: 1263px;
    height: 100%;
    min-height: 600px;
    width: 100%;
    margin-top: 107px;
    text-align: center;
}
section h1{
    width: 100%;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 35px;
}
section table{
    margin: 0px auto;
    width: 1263px;
}
section table th, td{
    padding: 15px 40px;
}
#firstrow{
    border: 1px solid
}
#secondrow th{
    border: 1px solid black;
}
.selecttype{
    width: 100px;
    height: 30px;
    margin-right: 5px;
}
.inputtype{
    height: 28px;
    width: 400px;
    margin-right: 5px;
}
.buttontype1{
    color: white;
    font-weight: bold;
    border: 1px solid #ff8a3d;
    height: 33px;
    width: 70px;
    background-color: #ff8a3d;
}
.buttontype1:hover{
    border: 2px solid #DF732D;
    background-color: hsl(24, 74%, 53%);
}
#writingtype{
    font-weight: bold;
    margin: 0px auto;
    width: 150px;
    padding: 10px;
    border: 2px solid white;
    background-color: #ff8a3d;
}
#writingtype a{
    padding: 10px 30px;
    color: white;
}
#writingtype:hover{
    border: 2px solid #DF732D;
    background-color: #DF732D;
}